*.DS_Store
#*#
.#*#
*.pyc
.idea/
.metadata/
.pydevproject
.settings/
.~lock.*
.*~
*~
/web_app/static/
local_settings.py
runserver
testing/
testing.*
.cache/
snapshots/
tmp/
__pycache__/
.python-version
test_command.py

/satisfactory/db.sqlite3
