{% extends 'base.html' %}

{% block subtitle %} - products{% endblock %}

{% block menu-products %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-auto">
            <div class="text-info">{{ message }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h4>Products ({{ products|length }})</h4>
            <ul class="list-group">
                {% for product in products %}
                    <li class="list-group-item list-group-item-action">
                        <form action="{% url 'production:delete-product' product.id %}" method="post"
                              onsubmit="return confirm('Really delete {{ product.name }}?')">
                            {% csrf_token %}
                            <a href="{% url 'production:product-detail' product.code %}"
                               class="text-dark">{{ product.name }}</a>
                            <button type="submit" class="btn btn-success inline-related float-end">
                                <i class="fas fa-trash float-end"></i>
                            </button>
                        </form>

                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-auto">
                    {% if product %}
                        <h4>{{ product }}</h4>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <h5>required resources</h5>
                </div>
                <div class="col-auto">
                    {% for product_code, needed_amount in product_resources.items %}
                        <div class="card float-start" style="width: 14rem;">
                            <div class="card-body">
                                <h6 class="card-title">{{ product_code }}</h6>
                                <div class="card-subtitle mb-2 text-muted">{{ needed_amount|floatformat:1 }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}